/**
 * @name March 7th Preservation Light Mode
 * @description discord.gg/march7th A cute theme based on March 7th from Honkai: Star Rail.
 * @author cinnakoko, refact0r, esme, anubis
 * @version 1.0.0
 * @invite march7th
 * @website https://github.com/kubiikoko/March-7th-Discord-Theme
 * @source https://github.com/kubiikoko/March-7th-Discord-Theme/blob/39c6e27882bd62b2d15a70b9f09d64109d4bd43b/m7p%20%20light.css
 * @authorId 852611391189286993

*/



@import url('https://refact0r.github.io/midnight-discord/midnight.css');

/* fixing discords stupid design by tom22k */
@import url("https://raw.githubusercontent.com/tom22k/discord-css/main/Themes/Snippets/MergeAppLauncher.css");


html.theme-light
 {
    --background-tertiary: url("https://github.com/kubiikoko/March-7th-Discord-Theme/blob/main/assets/march%207th%20preservation%20light.png?raw=true") center/cover no-repeat ;
}
/* making usernames visible in chat */
.username_f9f2ca,.memberNameText_a39fe9 {
	filter: hue-rotate(1deg) !important;
	 text-shadow: 
		  1px  1px 0 #a89d9d8f;
 
 }

 /* fixing text color in forum etc */
.lookFilled_dd4f85.colorPrimary_dd4f85 {
    color: white;

}

/* making stuff pretty at role select discord onboarding */
.profileCard_c6b11b {
	background-color: #DE93B3;
}
  
.role_c6b11b {
  
	  background-color: #a0c1d6;
  
}

.lookOutlined_dd4f85 .contents_dd4f85 {
    color: #ffff;
}
 /* some other elements fixing */
.text-xs\/medium_dc00ef {
    color: #ffff;
}

.textBadge_df8943 {
    color: #917387;
}

 /* notification button */
.icon_df8943 {
    color: #ffffff;
}
 /* Ensure default header-primary for other themes */
.theme-dark, .theme-dark.custom-theme-background  {
   --header-primary: #ffff; /* Default dark text color */
   --text-normal: #ffff;
   --text-muted: #ffff;
   --interactive-normal: #ffff;
   --header-secondary: #ffff;
   --interactive-active: #ffff;
   
 }
 
/* search bar in dms */
.searchBar_f0963d .searchBarComponent_f0963d {

    background-color: #DE93B3;
}

.searchBarComponent_f0963d {
    background: #DE93B3;
}

/* notification badge and mute,deafen buttons */
.container_b2ca13, .numberBadge_df8943, .toolbar_fc4f04 {
    --status-danger:#ee8ea8  ;
}

/* search bar in server */
.searchBar_a46bef {
    background: #DE93B3;
}
.container_aa1bff {
  background: #DE93B3;
} 

/* server name */
.defaultColor_e9e35f {
    color: rgb(255, 255, 255);
}

/* remove stupid discovery button */
[data-list-id="guildsnav"] [class^="footer"]:has(>[class^="gradient"]) {
	display: none;
  }




.theme-light .card_ea2a21 {
    border-color: #DE93B3;
}
/* customize things here */
html.theme-light {
	/* font, change to 'gg sans' for default discord font*/
	--font: 'figtree';

	/* top left corner text */
	--corner-text: 'â€ March 7th';

	/* thickness of messages divider */
	--divider-thickness: 3px;

	/* color of status indicators and window controls */
	--online-indicator: #a6da95; /* change to #23a55a for default green */
	--dnd-indicator: #ed8796; /* change to #f23f43 for default red */
	--idle-indicator: #eed49f; /* change to #f0b232 for default yellow */
	--streaming-indicator: #c6a0f6; /* change to #593695 for default purple */

	/* accent colors */
	--accent-1: #917387; /* links */
	--accent-2: #a0c1d6; /* general unread/mention elements */
	--accent-3: #ee8ea8; /* accent buttons */
	--accent-4: #eb819e; /* accent buttons when hovered */
	--accent-5: hsl(344, 81%, 67%); /* accent buttons when clicked */
	--mention: hsla(321, 72%, 69%, 0.1); /* mentions & mention messages */
	--mention-hover: hsla(330, 79%, 61%, 0.05); /* mentions & mention messages when hovered */

	/* text colors */
	--text-0: #333; /* text on colored elements */
	--text-1: #decbcb; /* bright text on colored elements */
	--text-2: #333; /* headings and important text */
	--text-3: #333; /* normal text */
	--text-4: #333; /* icon buttons and channels */
	--text-5: #333; /* muted channels/chats and timestamps */

	/* background and dark colors */
	--bg-1: #7e99aa; /* dark buttons when clicked */
	--bg-2: #a0c1d6; /* dark buttons */
	--bg-3: #DE93B3; /* spacing, secondary elements */
	--bg-4: #F2C8D0; /* main background color */
	--hover: hsla(312, 15%, 53%, 0.1); /* channels and buttons when hovered */
	--active: hsla(315, 15%, 53%, 0.2); /* channels and buttons when clicked or selected */
	--message-hover: hsla(330, 47%, 64%, 0.213); /* messages when hovered */

	/* amount of spacing and padding */
	--spacing: 18px;

	/* animations */
	/* ALL ANIMATIONS CAN BE DISABLED WITH REDUCED MOTION IN DISCORD SETTINGS */
	--list-item-transition: 0.2s ease; /* channels/members/settings hover transition */
	--unread-bar-transition: 0.2s ease; /* unread bar moving into view transition */
	--moon-spin-transition: 0.4s ease; /* moon icon spin */
	--icon-spin-transition: 1s ease; /* round icon button spin (settings, emoji, etc.) */

	/* corner roundness (border-radius) */
	--roundness-xl: 22px; /* roundness of big panel outer corners */
	--roundness-l: 20px; /* popout panels */
	--roundness-m: 16px; /* smaller panels, images, embeds */
	--roundness-s: 12px; /* members, settings inputs */
	--roundness-xs: 10px; /* channels, buttons */
	--roundness-xxs: 8px; /* searchbar, small elements */

	/* direct messages moon icon */
	/* change to block to show, none to hide */
	--discord-icon: none; /* discord icon */
	--moon-icon: none; /* moon icon */
	--moon-icon-url: none; /* custom icon url */
	--moon-icon-size: auto;

	/* filter uncolorable elements to fit theme */
	/* (just set to none, they're too much work to configure) */
	--login-bg-filter: none; /* login background artwork */
	--green-to-accent-3-filter: none; /* add friend page explore icon */
	--blurple-to-accent-3-filter: none; /* add friend page school icon */
}

/* discord icon */
.childWrapper_f90abb:has(> svg:not(.favoriteIcon_dcc7a4)) {
	background: url('https://github.com/kubiikoko/March-7th-Discord-Theme/blob/main/assets/preservation%20discord%20icon.png?raw=true');
	background-color: transparent !important;
	background-size: cover;
}
/* Transgender Boost Gradient; Recolors the boosting gradient to be the best flag ever by MandelineMaid*/
body {
    --guild-boosting-blue: #60d0fa, #f5acba, #ffffff;
    --guild-boosting-purple: #ffffff, #f5acba, #60d0fa;
}


/* Change folder icon */
:root {
	--folder-icon-1: url("https://github.com/kubiikoko/March-7th-Discord-Theme/raw/refs/heads/main/assets/folder%20icon%20preservation.webp");
  }
  
  [aria-label="Servers"] {
	& > * {
	  --folder-icon: var(--folder-icon-1);
	  --position-left: 11.5px;
	  --fill: currentColor;
	}
	[aria-owns^="folder-items-"] > [class^="folderIconWrapper_"] {
	  position: relative; 
	  [class^="closedFolderIconWrapper_"],
	  [class^="expandedFolderIconWrapper_"] {
		display: none;
	  }
	  &::after {
		background-image: var(--folder-icon);
		background-size: cover;
		background-repeat: no-repeat;
		content: "";
		position: absolute;
		top: 12px;
		left: var(--position-left);
		width: 24px;
		height: 24px;
	 
	  }
	}
  }


/* some glow in role icons etc to be visible in light mode */
.name_a31c43[style],
.username-3_PJ5r[style],
h3.membersGroup-2eiWxl > span > span[style] {
    filter: hue-rotate(1deg) !important;
    text-shadow: 
         1px  1px 0 #a89d9d8f;
}
@container chat (max-width: 500px) {
    .chatContent-3KubbW .buttons-uaqb-5 {
        display: none;
    } 
}

.platform-osx .wrapper_a7e7a8 {
    margin-top: 0;
}
.platform-osx .container__037ed {
    margin-top: 32px;
}

/* Top bar */
.withFrame_a934d8 {padding-top:0px;margin-top:0}
[class^='typeWindows'] {
    height: calc(var(--spacing) + 5px);
    margin: 0;
}

[class^='winButton'] {
    background: none !important;
    top: 0;
    width: calc(24px);
    height: calc(var(--spacing) + 5px);
    margin: 0;
}

/* fixing text color in pop outs */
.item_d90b3d{
	color: rgb(73, 60, 60);
  }
  
